@import "base/variables";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1em;
  font-family: d-dindin-regular, sans-serif;
  &.fixed {
    position: fixed;
    overflow: hidden;
  }
  &:after {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
  }
  &.fixed.white:after {
    opacity: 1;
  }
}

button {
  display: block;
  font-family: d-dindin-bold, sans-serif;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: #FFF;
  border: none;
  font-size: 1em;
  line-height: 70px;
  background-color: $action-color;
}

header button {
  z-index: 3;
  width: 120px;
  height: 70px;
  overflow: hidden;
  position: relative;
  transition: all 200ms ease;
}

main {
  margin-top: 200px;
}

h1 {
  font-family: d-dindin-bold, sans-serif;
  text-align: center;
  font-size: 4.65vw;
  text-transform: uppercase;
}

section:nth-of-type(2) > div {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  padding: 30px 50px 40px;
}

header {
  z-index: 20;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 40px;
  padding: 0 70px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  z-index: 6;
  position: fixed;
  width: 100%;
  background: #FFF;
  height: 100vh;
  transform: translateY(-100%);
  top: 0;
  transition: transform 1s ease 500ms;
  &.open {
    transform: translateY(0);
    transition: transform 1s ease;
  }
  > div {
    position: relative;
    width: 35em;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    padding: 30px 0 15px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-family: d-dindin-bold, sans-serif;
  }
}

.selectbox {
  &.center label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    display: flex;
    justify-content: center;
  }
}

input[type="checkbox"] + label {
  border: 2px solid #000;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 10px 0;
  margin: 0 5px;
  opacity: 0.5;
  border-radius: 50%;
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label, input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
  border: 2px solid $action-color;
  opacity: 1;
}
input[type="radio"] + label {
  border: 2px solid #000;
  width: 170px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  margin: 0 5px;
  opacity: 0.5;
}


label span {
  display: block;
  width: 25px;
  height: 29px;
  top: 3px;
  margin-bottom: 5px;
  margin: auto;
  color: $action-color;
}

#about-me {
  z-index: 10;
  position: absolute;
  background-color: $action-color;
  height: 70px;
  width: 120px;
  right: 70px;
  top: 40px;
  overflow: hidden;
  color: #FFF;
  transition: width 200ms ease, height 200ms ease;
  img {
    margin: auto;
    display: block;
    width: 150px;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 100ms ease, opacity 100ms ease 0s;
  }
  a {
    display: block;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: d-dindin-bold, sans-serif;
    font-size: inherit;
    height: 44px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 0 10px;
    width: 300px;
    margin: 10px auto;
    text-align: center;
    white-space: nowrap;
    transform: translateY(150%);
    opacity: 0;
    transition: transform 100ms ease, opacity 100ms ease 0s;
    overflow: hidden;
    &:hover, &:focus {
      line-height: 130px;
      outline: none;
    }
    &:before {
      content: attr(data-text);
      color: #FFF;
      position: absolute;
      top: -2.75em;
      left: 0;
      text-align: center;
      width: 100%;
    }
  }
  h1 {
    display: none;
  }
  p {
    opacity: 0;
    width: 90%;
    max-width: 30em;
    margin: 40px auto;
    transform: translateY(100%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    transition: transform 100ms ease, opacity 100ms ease 0s;
  }
  q {
    font-size: 1.5em;
    font-family: d-dindin-bold, sans-serif;
  }
  &.open p, &.open a, &.open img {
    opacity: 1;
    transform: translateY(0);
    transition: transform 200ms ease 300ms, opacity 200ms ease 300ms, line-height 200ms ease;
  }
  article {
    background-color: $action-color;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &.open {
    width: calc(100% - 140px);
    height: calc(100vh - 80px);
  }
}

.filter-small {
  margin: 10px 70px 20px;
  z-index: 5;
  top: 20px;
  position: relative;
  form {
    display: flex;
    width: 100%;
  }
  .selectbox {
    position: relative;
    border: 2px solid #000;
    width: 100%;
    background: #FFF;
    cursor: pointer;
    overflow: hidden;
    min-height: 150px;
    padding: 10px 15px;
    div {
      padding-top: 10px;
      flex-wrap: wrap;
    }
  }
  select.selectbox {
    color: black;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    font-family: d-dindin-bold, sans-serif;
    padding: 5px;
    line-height: 1;
  }
  h2 {
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding-right: 20px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: d-dindin-bold, sans-serif;
    &:hover {
      animation: bounce 1s infinite ease;
    }
  }

  form button:hover, form button:focus {
    line-height: 32px;
  }

}

/*From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select*/

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  color: black;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  font-family: d-dindin-bold, sans-serif;
  line-height: 32px;
  background: url("../images/arrow-down.svg") no-repeat;
  background-position: 70% center;
  &:hover {
    animation: bounce 1s infinite ease;
  }
}

@keyframes bounce {
  0% {
    background-position: 70% 50%;
  }
  20% {
    background-position: 70% 40%;
  }
  50% {
    background-position: 70% 60%;
  }
  80% {
    background-position: 70% 40%;
  }
  100% {
    background-position: 70% 50%;
  }
}

@keyframes bounceleft {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 30% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@keyframes bounceright {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: $action-color transparent $action-color transparent;
  transition: all 200ms ease;
  cursor: pointer;
  user-select: none;
  &:last-of-type {
    border-color: transparent transparent $action-color transparent;
  }
}

/*style items (options):*/
.select-items {
  position: absolute;
  padding-top: 9px;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: $action-color;
  color: #FFF;
}

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: block;
  position: relative;
  cursor: pointer;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 0;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  display: block;
  border: 2px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  line-height: 35px;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.count {
  position: absolute;
  right: 5px;
  display: block;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 3px;
  color: $action-color;
  padding: 3px 6px;
  border: 2px solid $action-color;
  &.hidden {
    display: none;
  }
}

button:hover, button:focus {
  line-height: 160px;
  outline: none;
}

@keyframes dissapear {
  0% {
    font-size: 1em;
    line-height: 70px;
  }
  20% {
    font-size: 1.1em;
    line-height: 70px;
    opacity: 1;
  }
  100% {
    font-size: 1em;
    line-height: 70px;
    opacity: 0;
  }
}

header button.hide {
  animation: dissapear 300ms infinite;
}

header button:before {
  content: attr(data-text);
  color: #FFF;
  position: absolute;
  top: -2.75em;
}

header button.open:before {
  content: "close";
}

a {
  text-decoration: none;
}

.logo {
  font-family: d-dindin-bold, sans-serif;
  font-size: 2em;
  width: 50px;
  height: 50px;
  display: block;
  color: #000;
}

.logo img {
  width: 50px;
}

.column {
  width: 33.333%;
  padding: 0 20px;

  a figcaption, h2 {
    font-family: d-dindin-bold, sans-serif;
    font-size: 2em;
  }
  a {
    display: block;
    opacity: 1;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    transition: all 1s ease;

    &.hidden {
      width: 0;
      max-height: 0;
      opacity: 0;
    }
    &:focus {
      outline: none;
    }
    &:hover figure:after, &:focus figure:after {
      bottom: 0;
      height: 100%;
    }
    figcaption, p {
      z-index: 10;
      position: absolute;
      pointer-events: none;
      opacity: 0;
      color: #FFF;
      text-align: center;
      width: 100%;
      top: 45%;
      transform: translateY(50px);
      text-transform: uppercase;
      transition: opacity 300ms ease 0ms, transform 300ms ease 0ms;
    }
    p {
      margin-top: 2em;
      font-size: 1em;
    }
    &:hover figcaption, &:hover p, &:focus figcaption, &:focus p {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 300ms ease 300ms, transform 300ms ease 200ms;
    }
    figure {
      margin: 40px 0 0;
      position: relative;
      overflow: hidden;
      &:after {
        z-index: 3;
        content: "";
        bottom: 0;
        height: 0;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        transition: height 300ms ease-in-out;
      }
    }
  }

  img {
    max-width: 100%;
    width: 100%;
    display: block;
    filter: blur(50px);
    transform: scale(1);
    &.ll-loaded {
      filter: blur(0);
      transform: scale(1);
      transition: 800ms -webkit-filter linear;
    }
  }

}

.modal {
  position: fixed;
  transform: scale(0);
  display: flex;
  opacity: 0;
  z-index: 50;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0ms, opacity 200ms ease 10ms;
  &.open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
  &.open .modal-content {
    transform: scale(1);
  }
  img {
    max-height: calc(100vh - 170px);
    max-width: calc(100vw - 450px);
  }
}

/* Modal Content */
.modal-content {
  transform: scale(0);
  text-align: center;
  background-color: #FFF;
  padding: 1em;
  transition: transform 100ms ease 200ms;
}

.modal-content h2 {
  padding-top: 3px;
}

.navigation {
  height: 70px;
  width: 70px;
  position: absolute;
  padding: 0;
  text-indent: -399px;
  overflow: hidden;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation.left {
  right: 80px;
  background-image: url("../images/back.svg");
  &:hover {
    animation: bounceleft 800ms infinite ease;
  }
}

.navigation.right {
  right: 0;
  background-image: url("../images/next.svg");
  &:hover {
    animation: bounceright 800ms infinite ease;

  }
}

.navigation.close {
  top: 25px;
  text-indent: 0;
  width: 120px;
  right: 55px;
  transition: all 200ms ease;
}

.navigation.close:before {
  content: "Close";
  color: #FFF;
  position: absolute;
  top: -2.75em;
}

.navigation.hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .column {
    padding: 0 10px;
    a figure {
      margin: 20px 0 0;
    }
  }
  header {
    padding: 0 60px 20px;
  }
  #about-me {
    right: 60px;
  }
  #about-me.open {
    width: calc(100% - 120px);
    height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 750px) {
  section:nth-of-type(2) > div {
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .column {
    padding: 0 10px;
    a figure {
      margin: 20px 0 0;
    }
  }
  header {
    padding: 0 30px 20px;
    button {
      height: 44px;
      line-height: 44px;
    }
  }
}

.route {
  &.hidden {
    display: none;
  }
}

.detail-content {
  margin: 0 70px;
  position: relative;
  align-items: flex-start;
  > img {
    z-index: 1;
    position: absolute;
    width: 50%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    transition: width 200ms ease;
    &.full-width {
      width: 100%;
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
    }
  }
  article {
    height: 100%;
    width: 50%;
    margin-left: 50%;
    font-family: 'Montserrat', sans-serif;
    padding: 0 70px;

    img {
      position: absolute;
      width: 30px;
      padding-top: 30px;
    }
    h1 {
      text-align: left;
    }
    h2 {
      display: inline-block;
      line-height: 35px;
      padding-top: 30px;
      padding-left: 40px;
    }
    p {
      padding: 30px 0;
      line-height: 1.5;
    }
  }
  time {
    display: block;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
}